@import url('https://fonts.googleapis.com/css?family=Roboto');

.sidebar-container{
  background-color: #21b5b5;
  /*position: static;*/
  /*display: grid;*/
  /*margin-top: 5px;*/
  /*padding-top: 5px;*/
  font-family: Roboto;
}

.sidebar-containerALL{
  background-color: #ffdb2b;
  /*position: static;*/
  /*display: grid;*/
  /*margin-top: 5px;*/
  /*padding-top: 5px;*/
  font-family: Roboto;
}

.sidebar-scroll {
  width: 200px;
  position: fixed;
  display: inline-grid;
  grid-template-columns: 200px ;
  /*grid-template-rows: 200px;*/
  
  overflow-y: scroll;
  overflow-x: hidden;
  top: 45px;
  bottom: 0px;
  z-index: 1;
}

.sidebar-text{
  color: white;
}
