.sidebar-container{
  background-color: #21b5b5;
}

#c1{
  height: 100%;
  width: 100%;
  border: 1px solid green;
  overflow: hidden;
}

.sidebar-scroll {
//width: 13.3%;//BRUTE FORCE
position: fixed;
  overflow-y: scroll;//SCROLLBAR IS STILL VIEWABLE
top: 45px; //FIRST ITEM IS BRUTE FORCED TO BE VIEWABLE
bottom: 0;
}

.sidebar-text{
  color: white;
}
