@import url('https://fonts.googleapis.com/css?family=Roboto');

.sidebar-container{
  background-color: #21b5b5;
  margin-top: 10px;
  font-family: Roboto;
}

.sidebar-containerALL{
  background-color: #ffdb2b;
  margin-top: 10px;
  font-family: Roboto;
}


#c1{
  height: 100%;
  width: 100%;
  border: 1px solid green;
  overflow: hidden;
}

.sidebar-scroll {
  width: 13.3%;
  position: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 45px;
  bottom: 0px;
  z-index: 1;
}

.sidebar-text{
  color: white;
}
